{% extends "blog/base.html" %}
{%  block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
              <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user-posts' post.author %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"d F Y / H:i"}}</small>
              </div>
              <div><a class="mr-2" href="{% url 'topic-posts' post.topic_name %}">{{ post.topic_name}}</a></div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

