{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{%  block content %}
   <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
              <div class="article-metadata">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"d F Y / H:i"}}</small>
              </div>
              <div><a class="mr-2" href="#">{{ post.topic_name}}</a></div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}